@model List<ProductAPP.DDD.Domain.Entities.Product>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-secondary">Index</h1>
<div class="text-center">
    <a class="btn btn-secondary border-5 rounded-4 mb-sm-2"
       asp-area="" asp-controller="Product"
       asp-action="Create"> Create a new Product</a>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-secondary border-5 rounded-4 mb-sm-2"
       asp-area="" asp-controller="Products"
       asp-action="Create"> Create a new Product</a>
    }
   
</div>


<div class="text-center" style="display:flex;flex-direction:row;gap:25px; flex-wrap:wrap;">
    @foreach (var obj in Model)
    {
        <div class="card
                    list-group
                    border-primary
                    border-5
                    rounded-4"
             style="
            width: 50%;
            flex-basis: 25%;
            min-width:200px;
            max-height:fit-content">
            <h5 class="text-primary">
                Nombre:
            </h5>
            <h6 class="text-secondary">
                @obj.Name.Value
            </h6>
            <hr class="" />
           
            <hr />
            <h5 class="text-primary">
                Descripcion
            </h5>
            <h6 class="text-secondary">
                @obj.Description.Value
            </h6>
            <hr />

            <div>
                <h5 class="text-primary ">
                    Precio
                </h5>
                <h6 class="text-danger">
                    @obj.Price.Value
                </h6>
            </div>
            <div class="text-center">
                @if(User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary" 
                    asp-area=""
                    asp-controller="Products"
                    asp-action="Edit" 
                    asp-route-id="@obj.Id">Edit</a>
                    <a class="btn btn-danger" 
                    asp-area="" asp-controller="Products" 
                    asp-action="Delete"
                    asp-route-id="@obj.Id">Delete</a>
                }
                @if (User.Identity.IsAuthenticated)
                {@*
                    <form method="post">
                        <label asp-for="Quantity" />
                        <input />
                    </form>
                    <a class="btn btn-primary" 
                    asp-area="" 
                    asp-controller="Cart"
                    asp-action="Post"
                    asp-route-ProductId="@obj.Id"
                    asp-route-UserName="@User.Identity.Name"
                    >Add to your Cart</a>*@
                    <partial name="_Post" model="@obj" />
                }

            </div>

        </div>

    }
</div>